.container {
    display: flex;
    align-items: flex-end;
    gap: 5vw;
    flex-wrap: wrap;
}

.sub {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3vh;
    align-items: center;
}



.label {
    display: block;
    font-weight: var(--fontWeightH);
    padding: 1rem;
    min-height: 40px;
    cursor: pointer;
}

.input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
    border: 3px solid var(--fourthColor);
}

.input:focus {
    border: 3px solid var(--primaryColor);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.button, .button > svg {
    max-height: 50px;
    max-width: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .sub {
        width: 100%;
    }
    .button > svg {
        height: 50px;
        width: 50px;
    }
}