.container {
    width: 100vw;
    margin: 8vh 5vw;
    display: flex;
    flex-direction: column;
}

.container > h2 {
    margin: 2vw 0;
}

.product_list {
    width: 100%;
    padding: 3vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 3vh;
    margin-right: 10vw;
}

.product {
    max-width: 700px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    padding: 20px 30px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
}

.img_container {
    width: 200px;
    height: 100%;
    position: relative;
    top: 25px;
}

.img_container > img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: right top;
}

.detail {
    margin: auto;
    padding: 20px 10px;
}

.detail > h3 {
    padding: 3px 8px 4px 10px;
    gap: 3px;
    border-radius: 16px;
    width: fit-content;
    position: relative;
    top: -20px;
    background-color: var(--primaryColor);
}

.product > button {
    margin-left: 10px;
    padding: 11px 10px 10px;
    border: none;
    width: 156px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    background: var(--secondaryColor);
    border-radius: 38px;
    align-self: center;
    cursor: pointer;
    transition : 0.3s ease-out;
    transform: translateY(0);
}

.product > button:hover {
    color: var(--primaryColor);
    background: #fff;
    border: 1px solid var(--primaryColor);
    transition : 0.2s;
    transform : translateY(-5px);
}

.admin {
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        width: 90%;
    }

    .product_list {
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));

    }
}

@media only screen and (max-width: 600px) {
    .img_container {
        display: none;
    }

    .img_container > img {
        display: none;
    }

    .product {
        flex-direction: column;
    }

    .product > hr {
        display: none;
    }

    .product_list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
}
