

#btn{
    width: 100%;
}

.title {
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--fourthColor);
}

.wrapper {
    background-color: var(--fourthColor);
}

.calendar {
    border-radius: 20px;
}


.booking{
    height: fit-content;
    padding: 2vh;
    gap: 2vh;
}

.booking > span {
    font-weight: var(--fontWeightH);
}


/* MOBILE */
@media only screen and (max-width: 600px) {
    .wrapper{
        width: 100%;
    }

    .booking {
        width: 98%;
        display: grid;
        gap: 2vh;
    }

    .calendar {
        margin-left: 2vw;
        width: 95%;
        
    }
}

/* TABLET */
@media only screen and (min-width: 600px) {

    .wrapper{
        width: 100%;
    }

    .booking {
        width: 98%;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .calendar {
        margin-left: 2vw;
        width: 95%;
        
    }



}



/* DESKTOP */
@media only screen and (min-width: 1050px) {

    .wrapper {
        align-items: center;
        background-color: var(--fourthColor);
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 2vw;
        padding-bottom: 2vh;
    }

    .calendar {
        margin-left: 2vw;
        grid-column: 1/3;
    }

    .booking{
        border-radius: 20px;
        height: fit-content;
        padding: 2vh;
        gap: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
}




