.wrap {
    height: 10vh;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--thirdColor);
    font-weight: var(--fontWeightH);
    font-size: 2rem;
    color: #fff;
}

.wrap > span {
    margin-left: 2vw;
}

.icon {
    cursor: pointer;
    margin-right: 2vw;
}