.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    min-height: 800px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container > h2, .details, .address {
    padding-left: 1.5vw;
}

.address {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.img_wrap{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.dates{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 3vh 1vw;
    
}

#btn {
    align-self: center;
    width: 90%;
}

@media only screen and (max-width: 951px) {
    .container{
        min-height: 1100px;
    }
}