.container {
    background-color: var(--fourthColor);
}

.col1{
    padding: 3vh;
    gap: 5vh;
    display: grid;
    /* grid-template-columns: 70% 25%; */
    grid-template-columns: 70% 25%; 
}



.row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

@media only screen and (max-width: 950px) {
    .col1{
        
        grid-template-columns: 100%; 
    }
}