.container{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    
}

.wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3vh;
    
}

.title {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 2vh;
}

.input{
    margin-top: 2vh;
    font-weight: var(--fontWeightP);
    font-size: var(--fontSizeT);
    height: 40px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 2rem;
    width: 50%;
}

