.container {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3vh;
}

.form{
    gap: 3vh;
}

.sub {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3vh;
}