
.avg_btn {
    cursor: pointer;
    font-size: var(--fontSizeB2);
    font-weight: var(--fontWeightButton);
    background-color: var(--primaryColor);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition : 0.3s ease-out;
    transform: translateY(0);
}

.avg_btn:hover{
    transition : 0.2s;
    transform : translateY(-5px);
    background-color: #fff;
    color: var(--primaryColor);
    border: solid 2px var(--primaryColor);
}

.avg_btn:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    transform: none;
    transition: none;
    border: none;
    cursor:not-allowed;
}

