.location .rdrCalendarWrapper{
    margin-top: 15px;
    position: relative;
    z-index: 80;
    left: -20px;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.24);
}

@media only screen and (max-width: 450px) {
    .location .rdrCalendarWrapper{
        left: -60px;

    }
}