

.container {
    box-sizing: border-box;
    display: flex;
    max-width: 710px;
    height: 279px;
    border: 1px solid #DFE4EA;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #DFE4EA;
    margin: 1rem;
    background-color: #fff;
}

.container__left {
    display: flex;
    width: 50%;
    box-sizing: border-box;
}

.container__left img {
    width: 100%;
    border-radius: 10px;
}

.container__rigth {    
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    overflow: hidden;
   
}

.container__rigth button {
    cursor: pointer;
}

.container__rigth h3 {
    font-size: var(--fontSizeT1);
    max-height: 2em;    
    margin: 0;
    margin-bottom: 5px;
    font-family: var(--tipografia);
}

.category {
    color: gray
}

.container__rigth p {
    font-size: var(--fontSizeT1);
    max-height: 5em;    
    margin: 0;
    overflow: hidden;
    font-family: var(--tipografia);
    max-height: 4em;
}

.container__rigth h2 {
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);
    max-height: 3.5em;    
    margin: 0;
    font-family: var(--tipografia);
}

.top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}


.container__rigth button {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #F0572D;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition : 0.3s ease-out;
    transform: translateY(0);
}

.container__rigth button:hover {
    transition : 0.2s;
    padding: 10px 30px;
    transform : translateY(-5px);
    background-color: #fff;
    color: var(--primaryColor);
    border: solid 2px var(--primaryColor);
}

@media only screen and (max-width: 800px) and (min-width: 700px) {

    .container {
        max-width: 635px;
        min-width: 635px;
    }
    
}

@media only screen and (max-width: 700px) {
    .container {
        max-width: 393px;
        height: 491px;
        flex-direction: column;
    }

    .container__left {
        width: 100%;
        height: 50%;
    }

    .container__rigth {
        width: 100%;
        height: 50%;
        
    }

    .container__rigth p {
        margin-top: 2vh;
    }

    .bottom {
        height: 50%;
    }

    .top > h2 {
        min-height: fit-content;
    }

    .top > h3{
        margin-bottom: -2vh;
    }
    
}