

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
}

.container h2 {
    color: var(--thirdColor);
    margin-top: 2rem;
    margin-left: 3rem;
}

.card {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(347px, 1fr));

}

.error{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 2em;
    text-align: center;
}

@media only screen and (max-width: 1410px) {
    .card {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    
    }
    

}

@media only screen and (max-width: 515px) {
    .card {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    
    }
    

}