
#active {
    border-bottom: 8px solid var(--primaryColor);

}

.category_container{
    height: fit-content;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background: #FFFFFF;
    border: 1px solid #F3F1ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    cursor: pointer;
    transition : 0.3s ease-out;
    transform: translateY(0);
}

.category_container:hover{
    transition : 0.2s;
    transform : translateY(-5px);
    box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.25);
}

.img {
    width: 100%;
}

.category_container h3 {
    font-size: var(--fontSizeH2);
    font-weight: var(--fontWeightH);
}

.category_container h4{
    font-size: var(--fontSizeH4);
    font-weight: var(--fontWeightP);
}

@media only screen and (max-width: 366px) {
    .category_container{
        margin: 10px;
        max-width: 265px;
    }
    

}