.selector {
    max-width: 100%;
    height: 40px;
}

.selector > label {
    display: block;
    font-weight: var(--fontWeightH);
    padding: 1rem;
    min-height: 40px;
}

.input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 14px 20px;
    cursor: pointer;
}

#selectField {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

#selectField > svg {
    transition: 0.8s;
}

#list {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 30;
    position: relative;
    border: 1px solid #dfe4ea;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
}

.options {
    width: 100%;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    /* position: relative; */
}

.options > img {
    width: 55px;
}

.hr {
    border: 0.5px var(--primaryColor) solid;
}

.options:hover {
    background-color: rgba(0, 0, 0, 0.116);
}
