.container {
    margin: 8vh 5vw;
}
.container > h1 {
    margin-bottom: 23px;
}

.form {
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #dfe4ea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#label {
    display: block;
    font-weight: var(--fontWeightH);
    padding: 1rem;
    min-height: 40px;
}

.detail {
    width: 100%;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.sub {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3vh;
}

.features {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    column-gap: 1vw;
    background: #f7f6f6;
    border-radius: 5px;
}

#add {
    position: relative;
    top: 40%;
    left: 40%;
}

#politics {
    padding: 20px 10px;
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1vw;
    background: #f7f6f6;
    border-radius: 5px;
    margin-bottom: 3vh;
}

#create {
    width: 100%;
}

.image{
    display: flex;
    flex-direction: column;
    
}

@media only screen and (max-width: 600px) {
    .features {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }

    .images{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
}

