.container {
    gap: 15px;
    background-color: white;
    max-width: 100%;
    width: 422px;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 2px;
    gap: 15px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.component {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 100%;
        width: 280px;
    }

    .menu {
        max-width: 100%;
        width: 280px;
        max-height: 100%;
        height: 170px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        max-width: 100%;
        width: 260px;
    }

    .menu {
        max-width: 100%;
        width: 260px;
        max-height: 100%;
        height: 170px;
    }
}