
.conteiner_description{
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    justify-content: center;
    
}

.conteiner_description h2{
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);
    max-height: 3.5em;    
    padding: 1rem;
    font-family: var(--tipografia);
    padding-left: 3vw;

}

.conteiner_description p{
    font-size: var(--fontSizeT1);
    font-weight: var(--fontWeightP);
    max-height: 5em;
    padding: 1rem;    
    overflow: hidden;
    font-family: var(--tipografia);
    padding: 0 3vw;
    
}