
.container{
    padding-top: 2rem;
    padding: 2vw;
    margin-bottom: 4vh;
}

.container h2{
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);   
    padding: 1rem;
    font-family: var(--tipografia);
}

.features{
    margin-top: 2vh;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 3vh;

}

.icon {
    display: flex;
    gap: 2vw;
    align-items: center;
}