.input_wrap{
    display: flex;
    align-items: center;
    gap: 2vh;
    cursor: pointer;
}

.input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
    border: 3px solid var(--fourthColor);
    
}

.gallery {
    margin: 4vh 0;
    padding: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 3vh;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-height: 300px;
    overflow: hidden;
}

#select{
    height: fit-content;
    margin: 4vh 0;
    padding: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 3vh;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    gap: 1vh;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.option:hover{
    background-color: var(--primaryColor);
}

.selected {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    gap: 1vh;
    background: transparent;
    border: none;
    outline: none;
}