
.footer_container {
    margin-top: auto;
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primaryColor);
    color: white;
    
}

.copyDiv span{
    font-weight: var(--fontWeightH);
    font-size: var(--fontSizeT2);
    margin-left: 1rem;
}

.social_media {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}


@media only screen and (max-width: 600px) {
    .social_media {
        display: none;
    }

}
