@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap'); 

:root{
    /* Paleta de colores del 1 al 4 */
    --primaryColor: #F0572D;
    --secondaryColor: #31363F;
    --thirdColor: #191B1D;
    --fourthColor: #DFE4EA;

    /* Tipografia */
    --tipografia: 'Quicksand', sans-serif;

    /* font weight de los títulos H1, H2, H3 y H4 */
    --fontWeightH: bold;
    
    /* font size de los títulos H1, H2, H3 y H4 */
    --fontSizeH1: 24px;
    --fontSizeH2: 20px;
    --fontSizeH3: 16px;
    --fontSizeH4: 14px;

    /* font weight de texto común */
    --fontWeightP: medium;

    /* font size de texto común */
    --fontSizeT1: 14px;
    --fontSizeT2: 12px;
   
    /* font weight de <button> */
    --fontWeightButton: bold;

    /* font size de <button> */
    --fontSizeB1: 14px;
    --fontSizeB2: 16px;

   
}