

.header_conteiner{
    background-color: var(--thirdColor);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: max-content;
    width: 100%;
    align-items: center;
    padding: 0.8rem;
   
}

.product h2{
    color: white;
    padding-bottom: 0.5rem;
    font-size: var(--fontSizeH3);
    font-weight:var(--fontWeightH);
    font-family: var(--tipografia);
}

.product{
    width: 100%;
    box-sizing: border-box;
    margin-left: 2vw;
    color: white;
    font-size: var(--fontSizeH2);
    font-family: var(--tipografia);
    font-weight:var(--fontWeightH);
}

.header_conteiner > button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 2em;
    margin-right: 2vw;
}


.location_wrap{
    display: flex;
    background-color: var(--secondaryColor);
    color: white;
    width: 100%;
    font-size: var(--fontSizeH3);
    min-height: 5em;    
    padding: 1rem;
    overflow: hidden;
    font-family: var(--tipografia);
}

.address{
    margin-left: 3vw;
    
}

.location_wrap > svg {
    margin: 1vh 0 0 2vw;
    font-size: 1.3em;
    
}