

header {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 3vh;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.logo {
    margin-left: 2rem;
}

.btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav_links{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}
.nav_links button a{
    text-decoration: none;
    color: white;
}

.top_guest_nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.user_container{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


.h2 {
    font-size: var(--fontSizeH2);
    font-weight: var(--fontWeightH);
    color: var(--thirdColor);
}

.user_name{
    display: inline;
    font-size: var(--fontSizeH2);
    font-weight: var(--fontWeightH);
    color: var(--primaryColor);
}

#close_session{
    align-self: flex-end;
    padding: 0.5rem;
}

.greeting_container hr {
    clear: both;
    visibility: hidden;
}



@media only screen and (min-width: 800px) {
    header{
        height: 100px;
    }
    .tablet_mobile {
        display: none;
    }
    .desktop{
        display: block;
    }
    .mobile {
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        gap: 3vh;
    }
}

.mobile_end_session{
    display: none;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    header {
        height: 80px;
    }
    .tablet_desktop{
        position: relative
        ;
        top: 20px;
    }
    .tablet_mobile {
        display: block;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        gap: 3vh;
    }
}

@media only screen and (max-width: 600px) { 
    header{
        padding: 1rem;
    }
    .tablet_desktop{
        display: none;
    }
    /* GUEST */
    .tablet_mobile {
        display: block;
    }
    .desktop{
        display: none;
    }
    .icons{
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .social_media {
        display: flex;
        flex-direction: row;
        gap: 17px;
        margin: 6vh 2vh;
    }

    hr.mobile {
        width: 90%;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        background-color: white;
        position: fixed;
        top: -10px;
        right: -500px;
        width: 35vh;
        height: 100%;
        transition-property: right;
        transition-duration: 0.8s;
        transition-timing-function: ease;
        transition-delay: ease-out;
        z-index: 99;
    }

    .navbar.active{
        right: 0px;
    }

    .guest_nav{
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .top_guest_nav{
        margin: 0;
        width: 100%;
        height: 200px;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--primaryColor);
    }
    .esc {
        align-self: flex-start;
        margin: 1rem;
    }
    .title{
        align-self: flex-end;
        margin-right: 1rem;
        color: white;
    }

    #avg_btn{
        background-color: white;
    }
    #avg_btn a{
        color: var(--thirdColor);
    }

    /* USER */

    .user_nav {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
    }

    .user_container{
        width: 100%;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .greeting_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    .h2 {
        font-size: var(--fontSizeH2);
        font-weight: var(--fontWeightH);
        color: white;
    }
    
    .user_name{
        font-size: var(--fontSizeH2);
        font-weight: var(--fontWeightH);
        color: var(--thirdColor);
        text-align: end;
    }

    .mobile_end_session{
        width: 100%;
        display: block;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        
  
    }

    .mobile_end_session span {
        font-size: var(--fontSizeH3);
        font-weight: var(--fontWeightH);
        color: var(--thirdColor);
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .mobile_end_session span button {
        cursor: pointer;
        font-size: var(--fontSizeH3);
        font-weight: var(--fontWeightH);
        color: var(--primaryColor);
    }

    /* ADMIN */

    #admin_btn{
        position: absolute;
        top: 50%;
        right: 10px;
    }
}

