/* ESTILOS DEL CALENDARIO DE RESERVA */

.rdrMonths{
    justify-content: space-evenly;
}

.rdrMonth {

    padding: 0 3em 1.666em 3em;
}

.rdrMonthName{
    text-align: center;
}

/* ESTILOS DEL SWIPER */

.swiper-pagination{
    text-align: end;
    font-weight: bold;
    padding-right: 4vw;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.leaflet-pane {
    z-index: inherit;
}

.leaflet-popup-pane, .leaflet-control {
    z-index: 20;
}

:root {
    --swiper-theme-color: #F0572D;

}