

.home_container {
    min-height: auto;
    width: 100%;
    overflow-x: hidden;
    
}

.gallery{
    max-width: 100%;
    display: flex;
    align-items: center;
}
    
    .page_product{
        min-height: auto;
        width: 100%;
        overflow-x: hidden;
        background-color: #fff;
    }