

.wrapper{
    width: 95%;
    display: none;
    margin: 1vw;
    
}


@media only screen and (min-width: 800px) {
    .wrapper{
        margin-left: 2vw;
        display: flex;
        flex-direction: column;
    }
    .gallery {
        gap: 10px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        
    }

    .image {
        border-radius: 20px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: right top;
    }

    .gallery .image:nth-child(1){
        grid-row: 1/3;
        grid-column: 1/3;
    }
    
    .btn{
        width: fit-content;
        cursor: pointer;
        background: white;
        border: none;
        color: black;
        font-size: var(--fontSizeH1);
        font-weight: var(--fontWeightH);
        text-decoration-line: underline;
        margin-top: 1vh;
        align-self: flex-end;
    }

}

@media only screen and (max-width: 799px) {
    .wrapper {
        display: none;
    }

    .image {
        height: 454px;
        width:50%;
    }

    .btn{
        display: none;
    }
}