


.wrapper {
    display: none;
}

@media only screen and (max-width: 799px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        padding: 2vw;
        border-radius: 20px;
        width: auto;
        max-height: 280px;
    }
}