

.container{
    display: none;
}

@media only screen and (min-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;
    }

    .modal{
        background-color: white;
        padding: 3vh 5vh 5vh;
        border-radius: 20px 20px 10px 10px;
        display: flex;
        flex-direction: column;

    }

    .centered{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .row{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    #thumbnail_img{
        height: 70px;
        width: 100px;
        border-radius: 18px;
    }

    #current_img {
        height: 441px;
        max-width: 663px;
        border-radius: 18px;
    }

    .clicked {
        box-shadow: 0px 9px 31px -1px rgba(71,71,71,0.74);
    }

    .esc{
        cursor: pointer;
        align-self: flex-end;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

