

.top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

#btn {
    margin-right: 5vw;
}

.top > h2 {
    color: var(--thirdColor);
    margin: 2vh 0 2vh 3vw;

}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
    align-items: center;
    justify-items: center;
}

.error{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-size: 2em;
    text-align: center;
}



@media only screen and (max-width: 700px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .top {
        gap: 2vh;
        text-align: center;
        justify-content: center


    }
    .container > h2 {
        padding-top: 2vh;
        margin: 0;
        text-align: center;
    }
 }

 @media only screen and (max-width: 500px) {
    .top > h2 {
        margin-left: 0;
        text-align: center;
    }
    .top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
        gap: 2vh;
        justify-items: center;
    }
    
 }

 