

.container {
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: white;
    max-width: 100%;
    width: 422px;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 20px;
}

.input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 14px 20px;
}

::placeholder {
    color: var(----thirdColor);
}

.menu {
    position: absolute;
    margin-top: 10px;
    max-width: 100%;
    width: 422px;
    background-color: white;
    max-height: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 20;
}

.option {
    display: flex;
    align-items: center;
    padding: 14px 12px;
    gap: 5px;
}

#hr {
    border: 0.5px var(--primaryColor) solid;
}

@media only screen and (max-width: 1300px) {
    .container {
        max-width: 100%;
        width: 280px;
    }

    .menu {
        max-width: 100%;
        width: 280px;
        max-height: 100%;
        height: 170px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        max-width: 100%;
        width: 260px;
    }

    .menu {
        max-width: 100%;
        width: 260px;
    }
}
