
.login_container {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 240, 240);
    padding: 2.5rem;
}

.formulario{
    width: 50%;
}

.login_container div h1 {
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);
    color: var(--primaryColor);
    margin-bottom: 5rem;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#redirect_btn{
    width: 100%;
}

#redirect_btn a{
    color: white;
    text-decoration: none;
}

.redirect {
    color: var(--primaryColor);
}

@media only screen and (max-width: 600px) {
    .formulario {
        width: 85%;
    }
}