.container{
    margin: 8vh 5vw;
}

.container > h1 {
    margin-bottom: 23px;
}

.wrap {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    gap: 3vh;
}

.content {
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #dfe4ea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 30px;
    gap: 2vh;
    align-items: center;
    transition : 0.3s ease-out;
    transform: translateY(0);
}

.content:hover{
    transition : 0.2s;
    transform : translateY(-5px);
    background-color: #fff;
    color: var(--primaryColor);
    border: solid 2px var(--primaryColor);
}

.element {
    display: flex;
    font-size:large;
    gap: 1vw;
}