.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    padding: 1vh;
    width: 100%;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.list > li {
    margin: 0 4vw;
    line-height: 5vh;
}
.list > li > button {
    background: transparent;
    border: 1px solid var(--primaryColor);
    font-weight: bold;
    user-select: none;
    transition: all 0.3s ease;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.list > li > button.inactive:hover {
    background-color: var(--thirdColor);
    color: #fff;
    cursor: pointer;
    transition : 0.2s;
    transform : translateY(-5px);
    border: solid 2px #fff;
}
.list > li > button.active {
    background-color: var(--primaryColor);
    color: #fff;
    
}