

.container{
    padding: 2vw;
}

.container > h2{
font-size: var(--fontSizeH1);
font-weight: var(--fontWeightH);  
padding: 1rem;
font-family: var(--tipografia);
margin-bottom: 1vh;
border-bottom: 1px solid var(--primaryColor);

}

.politicas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    gap: 2vh;
    padding: 3vw;
}

.politicas > div > h3{
    margin-bottom: 2vh
}

.politicas > div > ul > li{
    list-style: none;
    margin: 2vh;
}

@media only screen and (max-width: 350px) {
    .politicas{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}