.container {
    padding-top: 2rem;
    padding: 2vw;
    margin-bottom: 4vh;
}

.container h2{
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);   
    padding: 1rem;
    font-family: var(--tipografia);
}

#hr {
    border: 0.5px var(--primaryColor) solid;
}

.container h3{
    font-size: var(--fontSizeH3);
    font-weight: var(--fontWeightP);   
    padding: 1rem;
    font-family: var(--tipografia);
}
