.container {
    background-color: var(--thirdColor);
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.container > h1 {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 3vh;
}
.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(422px, 1fr));
    justify-items: center;
    row-gap: 10px;
}

#btn {
    max-width: 100%;
    width: 422px;
}

.popup {
    margin-top: 10px;
    position: absolute;
}

.popup::before{
    border-bottom: 5px solid var(--primaryColor);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    left: 10px;
}

.msg {
    width: 250px;
    background-color: var(--primaryColor);
    border-radius: 2px;
    color: #fff;
    left: 8px;
    padding: 4px 8px;
    position: absolute;
    z-index: 2;
}

@media only screen and (max-width: 1300px) {
    .wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    #btn {
        max-width: 100%;
        width: 280px;
    }
}

@media only screen and (max-width: 910px) {
    .container {
        height: 100%;
        padding-bottom: 5vh;
    }
    .wrap {
        display: grid;
        grid-template-columns: 100%;
    }
    #btn {
        max-width: 100%;
        width: 280px;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        height: 100%;
        padding-bottom: 5vh;
    }
    .wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    }
}

/* 
.wrapper{
    display: flex;
    align-items: center;
}

.searchbars {
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    justify-items: center;
    align-items: start;
    row-gap: 3rem;
}

#btn {
    width: 206px;
    margin-right: 3vw;

}

@media only screen and (max-width: 900px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
    }
    .container{
        padding-bottom: 2vh;
    }
}
*/
