.container {
    min-height: 82.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 240, 240);
    padding: 2.5rem;
}

.container div h1 {
    font-size: var(--fontSizeH1);
    font-weight: var(--fontWeightH);
    margin-top: 15%;
    color: var(--primaryColor);
}

.signup_container {
    width: 50%;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#redirect_btn {
    width: 100%;
}

#redirect_btn a {
    color: white;
    text-decoration: none;
}

.redirect {
    color: var(--primaryColor);
}

.label {
    width: 100%;
    display: block;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1vh;
}

.label > input {
    cursor: pointer;
    width: 20px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #e8e8e8;
    border: 3px solid #fff;
    outline: 1px solid #999;
}

[type="radio"]:checked {
    background: var(--primaryColor);
    border: 3px solid #fff;
    outline: 1px solid #999;
}

@media only screen and (max-width: 600px) {
    .signup_container {
        width: 85%;
    }
}