/*

@media (min-width: 50em)
web-snackbar {
    inset: auto auto clamp(1.375rem, 1.2rem + 0.89vw, 2rem) clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    border-radius: 10px;
    max-width: 30rem;

web-snackbar {
    --flow-space: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    visibility: hidden;
    display: block;
    padding: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
    background: #202124;
    color: #f8f9fa;
    outline: 1px solid var(--color-stroke);
    width: 100%;
    position: fixed;
    inset: auto auto 0 0;
    z-index: 99;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}


*/