

.container {
    width: fit-content;
    height: fit-content;
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
}