

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tipografia);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
    overflow-x: hidden;
    position: relative;
    padding-bottom: 13vh;
    background-color: rgb(243, 240, 240);
}